@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

::-webkit-scrollbar {
	display: none;
}

.icon {
	svg {
		width: 100%;
		height: 100%;
	}
}
